<header class="header">

    <div class="content-logo">
        <a routerLink="/home"><img
                src="https://imgs.search.brave.com/dJWAmpsIie0Mo5mdle01hqJfYb9yXaEDsU1jcq68Oao/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly92YXJp/ZXR5LmNvbS93cC1j/b250ZW50L3VwbG9h/ZHMvMjAxNi8xMC9n/aXBoeS1sb2dvLWUx/NDc3OTMyMDc1Mjcz/LnBuZz93PTg2NyZo/PTQ5MCZjcm9wPTE"
                alt="logo">
        </a>
    </div>

    <nav>
        <li><a routerLink="/comedia">Comedia</a></li>
        <li><a routerLink="/terror">Terror</a></li>
        <li><a routerLink="/deporte">Deporte</a></li>
        <li><a routerLink="/accion">Acción</a></li>
        <li><a routerLink="/anime">Anime</a></li>
    </nav>

    <section>
        <a routerLink="/login"><button class="btnLogin">Iniciar Sesión</button></a>
        <a routerLink="/register" class="btnRegister"><button class="btnRegister">Crear Cuenta</button></a>
    </section>

</header>