<footer class="footer">

    <div class="footer-content">


        <div class="footer-section">
            <h4>Sobre este proyecto</h4>
            <p>Esta página utiliza la API de Giphy para mostrar GIFs en tiempo real. Puedes explorar los GIFs más
                populares y buscar lo que más te interese.</p>
        </div>

        <div class="footer-section">
            <h4>Créditos</h4>
            <p>Esta aplicación está basada en la API pública de <a href="https://giphy.com" target="_blank"
                    rel="noopener noreferrer">Giphy</a>. Consulta más en su página oficial.</p>
        </div>

        <div class="footer-section">
            <h4>Contacto</h4>
            <ul>
                <li><a href="https://www.linkedin.com/in/juan-rodr%C3%ADguez-bacilio-454912343/" target="_blank"
                        rel="noopener noreferrer">LinkedIn</a></li>
                <li><a href="https://github.com/JuanRbDevx" target="_blank" rel="noopener noreferrer">GitHub</a></li>
                <!-- Puedes añadir más redes sociales si lo deseas -->
            </ul>
        </div>

    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 <strong class="nameapp">GIF-FINDER</strong></p>
        <p>Desarrollado por <strong class="myname">JuanRbDevx </strong></p>
    </div>

</footer>